无锡市建筑工程基础资源管理信息平台/Wxjzgcjczy.Web/Web References/ShiGongXuKeService/ShiGongXuKe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXMLResult" type="tns:DataExchangeResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataExchangeResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetXML_ForJAVA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XMLStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXML_ForJAVAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXML_ForJAVAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowSGXKInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowSGXKInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowSGXKInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetXMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetXML" />
  </wsdl:message>
  <wsdl:message name="GetXMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetXMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetXML_ForJAVASoapIn">
    <wsdl:part name="parameters" element="tns:GetXML_ForJAVA" />
  </wsdl:message>
  <wsdl:message name="GetXML_ForJAVASoapOut">
    <wsdl:part name="parameters" element="tns:GetXML_ForJAVAResponse" />
  </wsdl:message>
  <wsdl:message name="ShowSGXKInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ShowSGXKInfo" />
  </wsdl:message>
  <wsdl:message name="ShowSGXKInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ShowSGXKInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ShiGongXuKeSoap">
    <wsdl:operation name="GetXML">
      <wsdl:input message="tns:GetXMLSoapIn" />
      <wsdl:output message="tns:GetXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetXML_ForJAVA">
      <wsdl:input message="tns:GetXML_ForJAVASoapIn" />
      <wsdl:output message="tns:GetXML_ForJAVASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowSGXKInfo">
      <wsdl:input message="tns:ShowSGXKInfoSoapIn" />
      <wsdl:output message="tns:ShowSGXKInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ShiGongXuKeSoap" type="tns:ShiGongXuKeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetXML">
      <soap:operation soapAction="http://tempuri.org/GetXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML_ForJAVA">
      <soap:operation soapAction="http://tempuri.org/GetXML_ForJAVA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSGXKInfo">
      <soap:operation soapAction="http://tempuri.org/ShowSGXKInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ShiGongXuKeSoap12" type="tns:ShiGongXuKeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetXML">
      <soap12:operation soapAction="http://tempuri.org/GetXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXML_ForJAVA">
      <soap12:operation soapAction="http://tempuri.org/GetXML_ForJAVA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowSGXKInfo">
      <soap12:operation soapAction="http://tempuri.org/ShowSGXKInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShiGongXuKe">
    <wsdl:port name="ShiGongXuKeSoap" binding="tns:ShiGongXuKeSoap">
      <soap:address location="http://58.213.147.228/JSFront/SGXKDataExchange/ShiGongXuKe.asmx" />
    </wsdl:port>
    <wsdl:port name="ShiGongXuKeSoap12" binding="tns:ShiGongXuKeSoap12">
      <soap12:address location="http://58.213.147.228/JSFront/SGXKDataExchange/ShiGongXuKe.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>