无锡市建筑工程基础资源管理信息平台/Wxjzgcjczy.BLL/Service References/ReceiveDataServiceSpace/ReceiveDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://Server.WebService" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" targetNamespace="http://Server.WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://Server.WebService">
      <xsd:element name="getGdxyf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getGdxyfResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TBContractRecordManage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TBContractRecordManageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDataFromSxypt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDataFromSxyptResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getXyptPjf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getXyptPjfResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendBegin">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfAnyType2anyTypeMap">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="anyType2anyTypeMap" nillable="true" type="tns:anyType2anyTypeMap" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="anyType2anyTypeMap">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="entry">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:anyType" />
                <xsd:element minOccurs="0" maxOccurs="1" name="value" type="xsd:anyType" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SendBeginResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="tns:ArrayOfAnyType2anyTypeMap" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReceiveData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="tns:ArrayOfAnyType2anyTypeMap" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReceiveDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SnapFileByInternet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SnapFileByInternetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:base64Binary" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getXyptRs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getXyptRsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TjRetrieveByUpdate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TjRetrieveByUpdateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XyInnerptPjf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="XyInnerptPjfResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TBProjectInfoTime">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TBProjectInfoTimeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RetrieveData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in5" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in6" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RetrieveDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TBContractRecordManageTime">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TBContractRecordManageTimeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SnapDataByInternet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SnapDataByInternetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Huoqu">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HuoquResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SaveTBDataToSt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SaveTBDataToStResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HTBA">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HTBAResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getXyptPjfmx">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getXyptPjfmxResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saveZcjzs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:base64Binary" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in5" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saveZcjzsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TBProjectInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TBProjectInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getQsXyptPjf">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getQsXyptPjfResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TjxtFromXmData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TjxtFromXmDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SaveDataToSt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SaveDataToStResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SaveStData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in3" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in4" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SaveStDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TjxtFromQyData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TjxtFromQyDataResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ToCityPlatform">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="in0" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in1" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="in2" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ToCityPlatformResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="out" nillable="true" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveDataRequest">
    <wsdl:part name="parameters" element="tns:RetrieveData" />
  </wsdl:message>
  <wsdl:message name="getQsXyptPjfResponse">
    <wsdl:part name="parameters" element="tns:getQsXyptPjfResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDataToStRequest">
    <wsdl:part name="parameters" element="tns:SaveDataToSt" />
  </wsdl:message>
  <wsdl:message name="TBContractRecordManageResponse">
    <wsdl:part name="parameters" element="tns:TBContractRecordManageResponse" />
  </wsdl:message>
  <wsdl:message name="getXyptPjfmxRequest">
    <wsdl:part name="parameters" element="tns:getXyptPjfmx" />
  </wsdl:message>
  <wsdl:message name="TjxtFromQyDataRequest">
    <wsdl:part name="parameters" element="tns:TjxtFromQyData" />
  </wsdl:message>
  <wsdl:message name="SendBeginRequest">
    <wsdl:part name="parameters" element="tns:SendBegin" />
  </wsdl:message>
  <wsdl:message name="TBProjectInfoRequest">
    <wsdl:part name="parameters" element="tns:TBProjectInfo" />
  </wsdl:message>
  <wsdl:message name="SnapFileByInternetResponse">
    <wsdl:part name="parameters" element="tns:SnapFileByInternetResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataFromSxyptRequest">
    <wsdl:part name="parameters" element="tns:GetDataFromSxypt" />
  </wsdl:message>
  <wsdl:message name="HuoquRequest">
    <wsdl:part name="parameters" element="tns:Huoqu" />
  </wsdl:message>
  <wsdl:message name="getQsXyptPjfRequest">
    <wsdl:part name="parameters" element="tns:getQsXyptPjf" />
  </wsdl:message>
  <wsdl:message name="SaveStDataResponse">
    <wsdl:part name="parameters" element="tns:SaveStDataResponse" />
  </wsdl:message>
  <wsdl:message name="TBContractRecordManageTimeRequest">
    <wsdl:part name="parameters" element="tns:TBContractRecordManageTime" />
  </wsdl:message>
  <wsdl:message name="TjxtFromQyDataResponse">
    <wsdl:part name="parameters" element="tns:TjxtFromQyDataResponse" />
  </wsdl:message>
  <wsdl:message name="TBProjectInfoTimeRequest">
    <wsdl:part name="parameters" element="tns:TBProjectInfoTime" />
  </wsdl:message>
  <wsdl:message name="getXyptRsResponse">
    <wsdl:part name="parameters" element="tns:getXyptRsResponse" />
  </wsdl:message>
  <wsdl:message name="getXyptPjfResponse">
    <wsdl:part name="parameters" element="tns:getXyptPjfResponse" />
  </wsdl:message>
  <wsdl:message name="XyInnerptPjfResponse">
    <wsdl:part name="parameters" element="tns:XyInnerptPjfResponse" />
  </wsdl:message>
  <wsdl:message name="SaveTBDataToStResponse">
    <wsdl:part name="parameters" element="tns:SaveTBDataToStResponse" />
  </wsdl:message>
  <wsdl:message name="getGdxyfResponse">
    <wsdl:part name="parameters" element="tns:getGdxyfResponse" />
  </wsdl:message>
  <wsdl:message name="TBProjectInfoResponse">
    <wsdl:part name="parameters" element="tns:TBProjectInfoResponse" />
  </wsdl:message>
  <wsdl:message name="TjRetrieveByUpdateResponse">
    <wsdl:part name="parameters" element="tns:TjRetrieveByUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="HTBAResponse">
    <wsdl:part name="parameters" element="tns:HTBAResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveDataResponse">
    <wsdl:part name="parameters" element="tns:ReceiveDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendBeginResponse">
    <wsdl:part name="parameters" element="tns:SendBeginResponse" />
  </wsdl:message>
  <wsdl:message name="getXyptPjfmxResponse">
    <wsdl:part name="parameters" element="tns:getXyptPjfmxResponse" />
  </wsdl:message>
  <wsdl:message name="SaveStDataRequest">
    <wsdl:part name="parameters" element="tns:SaveStData" />
  </wsdl:message>
  <wsdl:message name="TjxtFromXmDataResponse">
    <wsdl:part name="parameters" element="tns:TjxtFromXmDataResponse" />
  </wsdl:message>
  <wsdl:message name="HTBARequest">
    <wsdl:part name="parameters" element="tns:HTBA" />
  </wsdl:message>
  <wsdl:message name="SnapFileByInternetRequest">
    <wsdl:part name="parameters" element="tns:SnapFileByInternet" />
  </wsdl:message>
  <wsdl:message name="SnapDataByInternetRequest">
    <wsdl:part name="parameters" element="tns:SnapDataByInternet" />
  </wsdl:message>
  <wsdl:message name="saveZcjzsResponse">
    <wsdl:part name="parameters" element="tns:saveZcjzsResponse" />
  </wsdl:message>
  <wsdl:message name="ToCityPlatformRequest">
    <wsdl:part name="parameters" element="tns:ToCityPlatform" />
  </wsdl:message>
  <wsdl:message name="SaveTBDataToStRequest">
    <wsdl:part name="parameters" element="tns:SaveTBDataToSt" />
  </wsdl:message>
  <wsdl:message name="getGdxyfRequest">
    <wsdl:part name="parameters" element="tns:getGdxyf" />
  </wsdl:message>
  <wsdl:message name="RetrieveDataResponse">
    <wsdl:part name="parameters" element="tns:RetrieveDataResponse" />
  </wsdl:message>
  <wsdl:message name="TBProjectInfoTimeResponse">
    <wsdl:part name="parameters" element="tns:TBProjectInfoTimeResponse" />
  </wsdl:message>
  <wsdl:message name="TBContractRecordManageTimeResponse">
    <wsdl:part name="parameters" element="tns:TBContractRecordManageTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ToCityPlatformResponse">
    <wsdl:part name="parameters" element="tns:ToCityPlatformResponse" />
  </wsdl:message>
  <wsdl:message name="TjxtFromXmDataRequest">
    <wsdl:part name="parameters" element="tns:TjxtFromXmData" />
  </wsdl:message>
  <wsdl:message name="SnapDataByInternetResponse">
    <wsdl:part name="parameters" element="tns:SnapDataByInternetResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataFromSxyptResponse">
    <wsdl:part name="parameters" element="tns:GetDataFromSxyptResponse" />
  </wsdl:message>
  <wsdl:message name="TjRetrieveByUpdateRequest">
    <wsdl:part name="parameters" element="tns:TjRetrieveByUpdate" />
  </wsdl:message>
  <wsdl:message name="getXyptPjfRequest">
    <wsdl:part name="parameters" element="tns:getXyptPjf" />
  </wsdl:message>
  <wsdl:message name="getXyptRsRequest">
    <wsdl:part name="parameters" element="tns:getXyptRs" />
  </wsdl:message>
  <wsdl:message name="ReceiveDataRequest">
    <wsdl:part name="parameters" element="tns:ReceiveData" />
  </wsdl:message>
  <wsdl:message name="HuoquResponse">
    <wsdl:part name="parameters" element="tns:HuoquResponse" />
  </wsdl:message>
  <wsdl:message name="saveZcjzsRequest">
    <wsdl:part name="parameters" element="tns:saveZcjzs" />
  </wsdl:message>
  <wsdl:message name="TBContractRecordManageRequest">
    <wsdl:part name="parameters" element="tns:TBContractRecordManage" />
  </wsdl:message>
  <wsdl:message name="SaveDataToStResponse">
    <wsdl:part name="parameters" element="tns:SaveDataToStResponse" />
  </wsdl:message>
  <wsdl:message name="XyInnerptPjfRequest">
    <wsdl:part name="parameters" element="tns:XyInnerptPjf" />
  </wsdl:message>
  <wsdl:portType name="ReceiveDataServicePortType">
    <wsdl:operation name="getGdxyf">
      <wsdl:input name="getGdxyfRequest" message="tns:getGdxyfRequest" />
      <wsdl:output name="getGdxyfResponse" message="tns:getGdxyfResponse" />
    </wsdl:operation>
    <wsdl:operation name="TBContractRecordManage">
      <wsdl:input name="TBContractRecordManageRequest" message="tns:TBContractRecordManageRequest" />
      <wsdl:output name="TBContractRecordManageResponse" message="tns:TBContractRecordManageResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetDataFromSxypt">
      <wsdl:input name="GetDataFromSxyptRequest" message="tns:GetDataFromSxyptRequest" />
      <wsdl:output name="GetDataFromSxyptResponse" message="tns:GetDataFromSxyptResponse" />
    </wsdl:operation>
    <wsdl:operation name="getXyptPjf">
      <wsdl:input name="getXyptPjfRequest" message="tns:getXyptPjfRequest" />
      <wsdl:output name="getXyptPjfResponse" message="tns:getXyptPjfResponse" />
    </wsdl:operation>
    <wsdl:operation name="SendBegin">
      <wsdl:input name="SendBeginRequest" message="tns:SendBeginRequest" />
      <wsdl:output name="SendBeginResponse" message="tns:SendBeginResponse" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveData">
      <wsdl:input name="ReceiveDataRequest" message="tns:ReceiveDataRequest" />
      <wsdl:output name="ReceiveDataResponse" message="tns:ReceiveDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="SnapFileByInternet">
      <wsdl:input name="SnapFileByInternetRequest" message="tns:SnapFileByInternetRequest" />
      <wsdl:output name="SnapFileByInternetResponse" message="tns:SnapFileByInternetResponse" />
    </wsdl:operation>
    <wsdl:operation name="getXyptRs">
      <wsdl:input name="getXyptRsRequest" message="tns:getXyptRsRequest" />
      <wsdl:output name="getXyptRsResponse" message="tns:getXyptRsResponse" />
    </wsdl:operation>
    <wsdl:operation name="TjRetrieveByUpdate">
      <wsdl:input name="TjRetrieveByUpdateRequest" message="tns:TjRetrieveByUpdateRequest" />
      <wsdl:output name="TjRetrieveByUpdateResponse" message="tns:TjRetrieveByUpdateResponse" />
    </wsdl:operation>
    <wsdl:operation name="XyInnerptPjf">
      <wsdl:input name="XyInnerptPjfRequest" message="tns:XyInnerptPjfRequest" />
      <wsdl:output name="XyInnerptPjfResponse" message="tns:XyInnerptPjfResponse" />
    </wsdl:operation>
    <wsdl:operation name="TBProjectInfoTime">
      <wsdl:input name="TBProjectInfoTimeRequest" message="tns:TBProjectInfoTimeRequest" />
      <wsdl:output name="TBProjectInfoTimeResponse" message="tns:TBProjectInfoTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <wsdl:input name="RetrieveDataRequest" message="tns:RetrieveDataRequest" />
      <wsdl:output name="RetrieveDataResponse" message="tns:RetrieveDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="TBContractRecordManageTime">
      <wsdl:input name="TBContractRecordManageTimeRequest" message="tns:TBContractRecordManageTimeRequest" />
      <wsdl:output name="TBContractRecordManageTimeResponse" message="tns:TBContractRecordManageTimeResponse" />
    </wsdl:operation>
    <wsdl:operation name="SnapDataByInternet">
      <wsdl:input name="SnapDataByInternetRequest" message="tns:SnapDataByInternetRequest" />
      <wsdl:output name="SnapDataByInternetResponse" message="tns:SnapDataByInternetResponse" />
    </wsdl:operation>
    <wsdl:operation name="Huoqu">
      <wsdl:input name="HuoquRequest" message="tns:HuoquRequest" />
      <wsdl:output name="HuoquResponse" message="tns:HuoquResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveTBDataToSt">
      <wsdl:input name="SaveTBDataToStRequest" message="tns:SaveTBDataToStRequest" />
      <wsdl:output name="SaveTBDataToStResponse" message="tns:SaveTBDataToStResponse" />
    </wsdl:operation>
    <wsdl:operation name="HTBA">
      <wsdl:input name="HTBARequest" message="tns:HTBARequest" />
      <wsdl:output name="HTBAResponse" message="tns:HTBAResponse" />
    </wsdl:operation>
    <wsdl:operation name="getXyptPjfmx">
      <wsdl:input name="getXyptPjfmxRequest" message="tns:getXyptPjfmxRequest" />
      <wsdl:output name="getXyptPjfmxResponse" message="tns:getXyptPjfmxResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveZcjzs">
      <wsdl:input name="saveZcjzsRequest" message="tns:saveZcjzsRequest" />
      <wsdl:output name="saveZcjzsResponse" message="tns:saveZcjzsResponse" />
    </wsdl:operation>
    <wsdl:operation name="TBProjectInfo">
      <wsdl:input name="TBProjectInfoRequest" message="tns:TBProjectInfoRequest" />
      <wsdl:output name="TBProjectInfoResponse" message="tns:TBProjectInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="getQsXyptPjf">
      <wsdl:input name="getQsXyptPjfRequest" message="tns:getQsXyptPjfRequest" />
      <wsdl:output name="getQsXyptPjfResponse" message="tns:getQsXyptPjfResponse" />
    </wsdl:operation>
    <wsdl:operation name="TjxtFromXmData">
      <wsdl:input name="TjxtFromXmDataRequest" message="tns:TjxtFromXmDataRequest" />
      <wsdl:output name="TjxtFromXmDataResponse" message="tns:TjxtFromXmDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataToSt">
      <wsdl:input name="SaveDataToStRequest" message="tns:SaveDataToStRequest" />
      <wsdl:output name="SaveDataToStResponse" message="tns:SaveDataToStResponse" />
    </wsdl:operation>
    <wsdl:operation name="SaveStData">
      <wsdl:input name="SaveStDataRequest" message="tns:SaveStDataRequest" />
      <wsdl:output name="SaveStDataResponse" message="tns:SaveStDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="TjxtFromQyData">
      <wsdl:input name="TjxtFromQyDataRequest" message="tns:TjxtFromQyDataRequest" />
      <wsdl:output name="TjxtFromQyDataResponse" message="tns:TjxtFromQyDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="ToCityPlatform">
      <wsdl:input name="ToCityPlatformRequest" message="tns:ToCityPlatformRequest" />
      <wsdl:output name="ToCityPlatformResponse" message="tns:ToCityPlatformResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReceiveDataServiceHttpBinding" type="tns:ReceiveDataServicePortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getGdxyf">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getGdxyfRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getGdxyfResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TBContractRecordManage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="TBContractRecordManageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBContractRecordManageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataFromSxypt">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="GetDataFromSxyptRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataFromSxyptResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXyptPjf">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getXyptPjfRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getXyptPjfResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBegin">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SendBeginRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SendBeginResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ReceiveDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReceiveDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapFileByInternet">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SnapFileByInternetRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SnapFileByInternetResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXyptRs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getXyptRsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getXyptRsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TjRetrieveByUpdate">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="TjRetrieveByUpdateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TjRetrieveByUpdateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XyInnerptPjf">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="XyInnerptPjfRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="XyInnerptPjfResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TBProjectInfoTime">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="TBProjectInfoTimeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBProjectInfoTimeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="RetrieveDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetrieveDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TBContractRecordManageTime">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="TBContractRecordManageTimeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBContractRecordManageTimeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SnapDataByInternet">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SnapDataByInternetRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SnapDataByInternetResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Huoqu">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="HuoquRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HuoquResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTBDataToSt">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SaveTBDataToStRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveTBDataToStResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HTBA">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="HTBARequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="HTBAResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getXyptPjfmx">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getXyptPjfmxRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getXyptPjfmxResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveZcjzs">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="saveZcjzsRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveZcjzsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TBProjectInfo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="TBProjectInfoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TBProjectInfoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQsXyptPjf">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getQsXyptPjfRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getQsXyptPjfResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TjxtFromXmData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="TjxtFromXmDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TjxtFromXmDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataToSt">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SaveDataToStRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveDataToStResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="SaveStDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveStDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TjxtFromQyData">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="TjxtFromQyDataRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TjxtFromQyDataResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToCityPlatform">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="ToCityPlatformRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ToCityPlatformResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReceiveDataService">
    <wsdl:port name="ReceiveDataServiceHttpPort" binding="tns:ReceiveDataServiceHttpBinding">
      <wsdlsoap:address location="http://58.213.147.230:8000/tDataService/ReceiveDataService.ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>