无锡市建筑工程基础资源管理信息平台/WxjzgcjczyTimerService/Web References/WebServiceStxm/WebServiceStxm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReadStxm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zzjgdm" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadStxmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadStxmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadStxmByStStandard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zzjgdm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ssqx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sscs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadStxmByStStandardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadStxmByStStandardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadStxmSoapIn">
    <wsdl:part name="parameters" element="tns:ReadStxm" />
  </wsdl:message>
  <wsdl:message name="ReadStxmSoapOut">
    <wsdl:part name="parameters" element="tns:ReadStxmResponse" />
  </wsdl:message>
  <wsdl:message name="ReadStxmByStStandardSoapIn">
    <wsdl:part name="parameters" element="tns:ReadStxmByStStandard" />
  </wsdl:message>
  <wsdl:message name="ReadStxmByStStandardSoapOut">
    <wsdl:part name="parameters" element="tns:ReadStxmByStStandardResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceStxmSoap">
    <wsdl:operation name="ReadStxm">
      <wsdl:input message="tns:ReadStxmSoapIn" />
      <wsdl:output message="tns:ReadStxmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadStxmByStStandard">
      <wsdl:input message="tns:ReadStxmByStStandardSoapIn" />
      <wsdl:output message="tns:ReadStxmByStStandardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceStxmSoap" type="tns:WebServiceStxmSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadStxm">
      <soap:operation soapAction="http://tempuri.org/ReadStxm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStxmByStStandard">
      <soap:operation soapAction="http://tempuri.org/ReadStxmByStStandard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceStxmSoap12" type="tns:WebServiceStxmSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadStxm">
      <soap12:operation soapAction="http://tempuri.org/ReadStxm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStxmByStStandard">
      <soap12:operation soapAction="http://tempuri.org/ReadStxmByStStandard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceStxm">
    <wsdl:port name="WebServiceStxmSoap" binding="tns:WebServiceStxmSoap">
      <soap:address location="http://221.226.0.185/AppSgtSjsc/WebServiceStxm.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceStxmSoap12" binding="tns:WebServiceStxmSoap12">
      <soap12:address location="http://221.226.0.185/AppSgtSjsc/WebServiceStxm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>